<?xml version="1.0" encoding="UTF-8"?>
<adapt_framework>
    <settings>
        <setting>
            <key>xml.readable</key>
            <value>true</value>
        </setting>
        <setting>
            <key>html.format</key>
            <value>html5</value>
        </setting>
        <setting>
            <key>html.closed_tags</key>
            <values>
                <value>img</value>
                <value>link</value>
                <value>meta</value>
                <value>br</value>
                <value>hr</value>
                <value>area</value>
                <value>base</value>
                <value>col</value>
                <value>command</value>
                <value>embed</value>
                <value>input</value>
                <value>link</value>
                <value>meta</value>
                <value>param</value>
                <value>source</value>
            </values>
        </setting>
        <setting>
            <key>mysql.default_engine</key>
            <value>InnoDB</value>
        </setting>
        <setting>
            <key>mysql.default_character_set</key>
            <value>utf8</value>
        </setting>
        <setting>
            <key>mysql.default_collation</key>
            <value>utf8_general_ci</value>
        </setting>
    </settings>
    <setting>
        <key>adapt.date_format</key>
        <value>date</value>
    </setting>
    <setting>
        <key>adapt.time_format</key>
        <value>time</value>
    </setting>
    <setting>
        <key>adapt.datetime_format</key>
        <value>datetime</value>
    </setting>
    <setting>
        <key>repository.url</key>
        <values>
            <value>http://repo.adaptframework.com</value>
        </values>
    </setting>
    <setting>
        <key>repository.username</key>
        <values>
            <value></value>
        </values>
    </setting>
    <setting>
        <key>repository.password</key>
        <values>
            <value></value>
        </values>
    </setting>
</adapt_framework>
